{% extends 'base.html' %}

{% block content %}
<br/>
<div class="row">
  <div class="col s8 offset-s2 m4 centered">
    <!-- /static/images/no_avatar.webp -->
    <a href="#avatar-upload" class="circle modal-trigger avatar-upload">
      <img class="circle avatar" src="{{ member.avatar }}">
      <i class="material-icons small avatar-upload__icon">add</i>
    </a><br/>

  </div>
  <div class="col s12 m8">
    <h3>Edit <span class="user-name">{{ member.username }}</span> Details</h3>
  </div>
  <div class="col s12">
    <form action="" method="post">
      {% csrf_token %}
      <table>
        {{ form.as_table }}
      </table><br/>
      <input type="submit" value="Save and update" class="btn green lighten-1">
    </form>
  </div>
</div>

<!-- Modal Structure -->
<div id="avatar-upload" class="modal">
  <div class="modal-content">
    <h4>Upload Avatar</h4>
    <p>Please select a file:</p>
    <form class="" action="{% url 'add_avatar' member.id  %}" enctype="multipart/form-data" method="post">
      {% csrf_token %}
      <input type="file" name="photo-file">
      <input type="submit" value="Upload" class="btn">
    </form>
  </div>
</div>

<script>
  $(document).ready(function () {
    $('.modal').modal();
  });
</script>
{% endblock %}
