{% extends 'base.html' %}
{% block content %}

<br>
<a class="waves-effect waves-light btn{% if not is_admin %} disabled{% endif %}" href="{% url 'households_update' household.id %}">Edit Household</a>

<h2>{{ household.name }} - Total Expenses</h2>

<!-- Add Expense Modal -->
<div class="row">
  <div class="col s7">
    <a class="waves-effect waves-light btn modal-trigger"href="#modal1">ADD EXPENSE</a>
    <div id="modal1" class="modal">
      <div class="modal-content">
        <div class="modal-header right">
          <big><a href="#!" class="modal-close waves-effect waves-red btn-flat">&#10005;</a></big>
        </div>

        <h4>Add an expense to {{ household.name }}</h4>
        <form action="{% url 'add_expense' household.id %}" method="post">
          {% csrf_token %}
          {{ expense_form.as_p }}
          <input type="submit" class="btn" value="Add Expense">
        </form>
      </div>
    </div>

    {% if household.expense_set.all|length > 0 %}
      {% for expense in household.expense_set.all %}
      <div class="card">
        <div class="card-content">
          <span class="card-title left">{{ expense.name }}</span><span class="card-title right">${{ expense.cost|floatformat:2 }}</span>
          <br/>
        </div>
        <div class="card-action">
          <a class="modal-trigger" href="#{{expense.name}}">Details</a>
        </div>
      </div>
      <!-- View Expense Details Modal -->
      <div id="{{expense.name}}" class="modal">
        <div class="card">
          <div class="card-content">
            <div class="modal-content">

              <div class="modal-header right">
                <big><a href="#!" class="modal-close waves-effect waves-red btn-flat">&#10005;</a></big>
              </div>

                <h4>{{ expense.name }} Details</h4>
                <hr/>
                <p>Who paid: {{ expense.member.username }}</p>
                <p>Cost: ${{ expense.cost|floatformat:2 }}</p>
                <p>Desc: {{ expense.description }}</p>
                <br/>
                <p>[{{expense.date}}] - {{expense.member.username}} added {{expense.name}} for ${{expense.cost|floatformat:2}}.</p>
                <br/>
                <div class="card-action">
                  <a class="modal-trigger" href="{{url}}">Edit</a>
                  <a href="{{url}}">Delete</a>
                </div>

            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    {% else %}
        <h2>There are no expenses. Enter your first expense by pressing "Add Expense" at the top left of the page.</h2>
    {% endif %}

  </div>

  <div class="col s5">
      <ul class="collapsible popout">
          {% for ledger_member, amount in ledger %}
          <li>
              <div class="collapsible-header">
                  <article class="center-align">{{ ledger_member.username }}
                      <br>
                  {% if amount < 0 %}
                      <h3 class="blue-text text-lighten-2">${{ amount|floatformat:2 }}</h3>
                  {% else %}
                      <h3 class="pink-text text-darken-1">${{ amount|floatformat:2 }}</h3>
                  {% endif %}
                  </article>
                  {% if amount < 0 %}
                      <span class="right">
                          <a href="{% url 'has_paid' household.id ledger_member.id %}" onclick="return confirm('Are you sure?')" class="waves-effect waves-light btn-small">Paid</a>
                      </span>
                  {% endif %}
              </div> 
              <div class="collapsible-body">
                  {% for ledger_splits_member, splits in ledger_splits %}
                      {% if ledger_member == ledger_splits_member %}
                          <ul>
                            {% for split in splits %}
                                <li>
                                    {{ split }}
                                    {% if split.member == ledger_member %}
                                        <a href="{% url 'has_paid_split' household.id split.id %}" onclick="return confirm('Are you sure?')">Paid</a>
                                    {% endif %}
                                </li>
                            {% endfor %}
                          </ul>
                      {% endif %}
                  {% endfor %}
              </div> 
          </li>
          {% endfor %}
      </ul>
  </div>
</div>


<!-- JavaScript for modals and collapisble -->
<script>
  $(document).ready(function () {
    $('.modal').modal();
    $('.collapsible').collapsible();
  });
</script>

{% endblock %}