{% extends 'base.html' %} {% block content %}


<div class="row">
  <div class="col s12">
    <h2>{{ user.username }}'s Households</h2>
    <a class="green lighten-1 waves-effect waves-light btn" href="{% url 'households_create' %}">Add A New Household</a><br/><br/>
  </div>
  <div class="col s12">
    {% for household in households %}
      <div class="card">
        <div class="card-content">
          <span class="card-title">{{ household.name }}</span>
        </div>
        <div class="card-action household-action">
          <a href="{% url 'households_details' household.id %}">View Household Dashboard</a>
          <div class="right-align">
            {% for member in household.members.all %}
              <i class="material-icons">face</i>
            {% endfor %}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
