{% extends 'base.html' %} {% block content %}


<div class="row">
  <div class="col s12">
    <h1>{{ user.username }}'s Households</h1>
    <a class="green lighten-1 waves-effect waves-light btn" href="{% url 'households_create' %}">Create Household  <span style="font-size:20px; font-weight: bolder;">&#43;</span></a><br/><br/>
  </div>
  <div class="col s12">
    {% for household in households %}
    <a href="{% url 'households_details' household.id %}" class="indigo-text text-darken-1">
      <div class="card indigo lighten-5">
        <div class="card-content">
          <span class="black-text card-title">{{ household.name }}</span>
        </div>
        <div class="card-action household-action">
          <span style="font-weight: 300;">HOUSEHOLD DASHBOARD</span>
          <div class="right-align">
            {% for member in household.members.all %}
              <i class="material-icons">face</i>
            {% endfor %}
          </div>
        </div>
      </div>
    </a>
    {% endfor %}
  </div>
</div>

{% endblock %}
