{% extends 'base.html' %}
{% block content %}

<h1>Edit "{{ household.name }}"</h1>

<div class="row">
  <div class="col s12">
    <form action="{% url 'households_update' household.id %}" method="post">
      {% csrf_token %}
      {{ household_form.as_p }}<br/>
      <input type="submit" class="btn" value="Update {{household.name}}">
      <a href="#confirm-modal" class="btn red darken-1 modal-trigger">Delete {{household.name}}</a><br/><br/> 
    </form>
  </div>
</div>
<div id="confirm-modal" class="modal">
    <div class="modal-content">
      <h4>Delete <span class="indigo-text">{{ household.name }}</span></h4>
      <p>Are you sure?</p>
    </div>
    <div class="modal-footer">
      <a href="{% url 'households_delete' household.id %}" class="modal-close waves-effect waves-green btn">Delete</a>
    </div>
  </div>
<script type="text/javascript">
  var selectEl = document.getElementById('id_members');
  M.FormSelect.init(selectEl);

  $(document).ready(function(){
    $('.modal').modal();
  });
</script>
{% endblock %}
