{% extends 'base.html' %} {% block content %}

<h1>About</h1>
<p>How much money do your friends and loved ones owe you? It does add up over time, doesnt it? And yet you're too embarrassed to ask them to pay you back. Whether we like to admit it or not, money has a powerful influence on our lives. IoU2 is made for people like ourselves, it helps us keep track of how much money your roommates or group of friends owe you.</p>

<h5>Take control of your life again, because every dollar counts. Use IoU2.</h5>


<h5>Who's responsible for this mess?</h5>


<div>
    <img src="https://i.imgur.com/Zkl7l0d.jpg">
</div>

    <div class="section white">
      <div class="row container">
        <h2 class="header">Meet the Dev team!</h2>
        <p class="grey-text text-darken-3 lighten-3">They worked on this for one whole week! OMG. </p>
      </div>
    </div>
    <div class="parallax-container">
      <div class="parallax"><img src="https://i.imgur.com/POtjh8Q.jpg"></div>
    </div>

    <div class="section white">
      <div class="row container">
        <h3 class="header">Alannah Tai</h3>
        <p class="grey-text text-darken-3 lighten-3">Halllooo. Ignore my pic and use my app.</p>
      </div>
    </div>
    <div class="parallax-container">
      <div class="parallax"><img src="https://i.imgur.com/8RaAfP4.jpg"></div>
    </div>

    <div class="section white">
      <div class="row container">
        <h3 class="header">Emily Chow</h3>
        <p class="grey-text text-darken-3 lighten-3">I love pugs. Use my app. </p>
      </div>
    </div>
    <div class="parallax-container">
      <div class="parallax"><img src="https://i.imgur.com/i3mOPNR.jpg"></div>
    </div>

    <div class="section white">
      <div class="row container">
        <h3 class="header">Louis Pham</h3>
        <p class="grey-text text-darken-3 lighten-3">I'm absolutely terrified of slides now.</p>
      </div>
    </div>
    <div class="parallax-container">
      <div class="parallax"><img src="https://i.imgur.com/EtQNq20.jpg"></div>
    </div>

    <div class="section white">
      <div class="row container">
        <h3 class="header">Cody Breen</h3>
        <p class="grey-text text-darken-3 lighten-3">Thanks for scrolling, ya creeps!</p>
      </div>


{% comment %} 


<img src="https://i.imgur.com/POtjh8Q.jpg" class="devpic">


<img src="https://i.imgur.com/8RaAfP4.jpg" class="devpic">


<img src="https://i.imgur.com/i3mOPNR.jpg" class="devpic">


<img src="https://i.imgur.com/EtQNq20.jpg" class="devpic"> {% endcomment %}



{% comment %} <div>
    <img src="https://i.imgur.com/Zkl7l0d.jpg">
</div> {% endcomment %}

<script>
$(document).ready(function(){
  $('.parallax').parallax();
});
</script>

{% endblock %}
