{% extends 'base.html' %} {% block content %}

<h1><strong>About</strong></h1>
<hr>

<p>Welcome to the webapp that allows us to keep track of our expenses and save time calculating how much money to pay one another.</p>


<h4>My Households</h4>

When you click on "My Households" tab at the top, you will be able to view all the households that you are apart of.</p>

This webapp isn't neccessarily only for households, it can used for however you like, for example if you want to keep track of splitting money for a trip or other ways, you can also create a "household" with you and other members.</p>


<h4>Edit Household</h4>

<p>Once you click into your household, you will have an option to edit your household where you can change the name of the household or removing members. The admin/superuser will not be able to remove themselves off the household, they would have to delete the whole household.</p>


<h4>Add Expense</h4>

<p>When you buy an expense, you can click on "ADD EXPENSE" button where you will be prompted to enter the name of the expense, cost and description.</p>

<h4>Keeping Track Of Who Owes You Money</h4>

<p>Once that is submitted, the cost of the expense will be split evenly to all the other household members and it will show how much money each person owes you(as you can see on the right side of the page).</p>

<p>Once the balance is no longer negative, it means that person no longer owes you anything and you can click on "PAID" to keep track. If you were added to the household later, the expense from previously will not be added to your total.</p>

<div>
    {% comment %} <img src="https://i.imgur.com/Zkl7l0d.jpg"> {% endcomment %}
</div>

    <div class="section white">
      <div class="row container">
        <h2 class="header">Meet the Dev team!</h2>
        <p class="grey-text text-darken-3 lighten-3">They worked on this for one whole week! OMG. </p>
      </div>
    </div>
    <div class="parallax-container">
      <div class="parallax"><img src="https://i.imgur.com/POtjh8Q.jpg"></div>
    </div>

    <div class="section white">
      <div class="row container">
        <h3 class="header">Alanna Tai</h3>
        <p class="grey-text text-darken-3 lighten-3">Gremlin.</p>
        <a href="https://github.com/alannatai">Alanna's Github</a>
      </div>
      <hr>
    </div>
    <div class="parallax-container">
      <div class="parallax"><img src="https://files.slack.com/files-pri/T056AV14H-FSZ0NGFPC/beautyplus_20190804080653581_save.jpg"></div>
    </div>
    <div class="section white">
      <div class="row container">
        <h3 class="header">Emily Chow</h3>
        <p class="grey-text text-darken-3 lighten-3">I love pugs. Use my app. </p>
        <a href="https://github.com/emilykchow">Emily's Github</a>
      </div>
      <hr>
    </div>
    <div class="parallax-container">
      <div class="parallax"><img src="https://i.imgur.com/i3mOPNR.jpg"></div>
    </div>

    <div class="section white">
      <div class="row container">
        <h3 class="header">Louis Pham</h3>
        <p class="grey-text text-darken-3 lighten-3">I'm absolutely terrified of slides now.</p>
        <a href="https://github.com/louis-pham">Louis' Github</a>
      </div>
      <hr>
    </div>
    <div class="parallax-container">
      <div class="parallax"><img src="https://i.imgur.com/xCuCbfN.png"></div>
    </div>

    <div class="section white">
      <div class="row container">
        <h3 class="header">Cody Breen</h3>
        <p class="grey-text text-darken-3 lighten-3">Thanks for scrolling, ya creeps!</p>
        <a href="https://github.com/cojbr">Cody's Github</a>
      </div>


<script>
$(document).ready(function(){
  $('.parallax').parallax();
});
</script>

{% endblock %}
