{% extends 'base.html' %} {% block content %}

<h1>About</h1>
<p>How much money do your friends and loved ones owe you? It does add up over time, doesnt it? And yet you're too embarrassed to ask them to pay you back. Whether we like to admit it or not, money has a powerful influence on our lives. IoU2 is made for people like ourselves, it helps us keep track of how much money your roommates or group of friends owe you.</p>

<h5>Take control of your life again, because every dollar counts. Use IoU2.</h5>

<div class="parallax-container">
    <div class="parallax"><img src="https://imgur.com/a/CXoqk5z">
    </div>
</div>

{% endblock %}
