{% extends "base.html" %} {% block content %}

<h1>Welcome!</h1>
<h2>Now Louis will die.</h2>

<!-- Modal Trigger -->
<a class="waves-effect waves-light btn modal-trigger" 
href="#modal1">how will he die?</a>

<!-- Modal Structure -->
<div id="modal1" class="modal">
    <div class="modal-content">
        <h4>WUHAN</h4>
        <p>s t y l e</p>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn- 
flat">Close</a>
    </div>
</div>

<script>
$(document).ready(function () {
    $('.modal').modal();
});
</script>

{% endblock %}
