.grey {
  opacity: 0.3;
}

nav ul a {
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  font-size: 15px;
  color: white;
  display: block;
  padding: 0 15px;
  cursor: pointer;
}

.user-name {
  color: #4f68ab;
}

.page-footer {
  padding: 5px 0px;
  color:rgb(0,0,0);
  background-color:rgba(0,0,0,0.5);
}

.collapsible > li:not(:first-child) {
  margin-top: 20px;
}