{% extends 'base.html' %} {% block content %}

<div class="row">
    <div class="col s12 m6">
    <div class="card">
    <div class="card-content">
    <p>Who paid: {{ member.name }}
    <p>Cost: ${{ expense.cost }}</p>


<h1>Details for: {{ expense.name }}</h1>


{% for split in splits %}
    <div class="card">
        <div class="card-content">
            <span class="card-title"></span>
            <form action="/">
                <input type="checkbox" name="membername" value="splits"> {{member}}<br>
            </form>
        </div>
    </div>
{% endfor %}
    
{% comment %} 

def expenses_detail(request, household_id, expense_id):
    expense = Expense.objects.get(id=expense_id)
    household = Household.objects.get(id=household_id)
    member = Member.objects.all(id=member_id)
    split = Split.objects.get(id=split_id)
    return render(request, 'expense/details.html', {
        # 'user': request.user,
        'expense': request.expense.get(id=expense_id),
        'household': request.household.member.all(),
        'membersplit': request.split.all(id=split_id)
    })

{% endcomment %}

{% endblock %}